<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwl.can">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />



    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.CAMERA" />
    //使用步行AR导航，配置Camera权限



    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读写sd卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 写sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 获取精确gps位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序访问额外的定位提供者指令获取模拟定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 网络链接 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 更改wifi连状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="模块描述" />
    <meta-data
        android:name="xposedminversion"
        android:value="54" />

    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="sk7Loe8vSBx6YIdD3KljqcNOgeMM7iBH" > -->
        <!-- </meta-data> -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HGk8ENiZqgQgG4Rw4dDtYpVlxwrS606K"></meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name=".wifi.ui.WiFiActivity"
            android:label="@string/title_activity_wi_fi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learn.Learn"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learn.wifi.WifiServerActivity"
            android:label="@string/title_activity_wifi_server"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".learn.wifi.WifiClientActivity" />
        <activity android:name=".chartroom.ui.LoginActivity" />
        <activity
            android:name=".chartroom.ui.MultiChartRoom"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".chartroom.ui.SingleChartRoom" />
        <activity android:name=".zhujie.AnnotationActivity" />
        <activity android:name=".canvas.CanvasMenu" />
        <activity android:name=".canvas.canvas1.Canvas1Activity" />
        <activity android:name=".canvas.animedemo.AnimActivity" />
        <activity android:name=".webview.WebViewActivity" android:theme="@style/translucent"/>
        <activity android:name=".GlobalListActivity" />
        <activity android:name=".pulltorefreshview.PullToRefreshViewActivity" />
        <activity android:name=".location.ui.LocationActiviey" />
        <activity android:name=".location.map.BaiduBaseMapActivity"></activity>
    </application>

</manifest>