<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wwl.can">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="模块描述" />
    <meta-data
        android:name="xposedminversion"
        android:value="54" />
    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wifi.ui.WiFiActivity"
            android:label="@string/title_activity_wi_fi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".learn.Learn"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".learn.wifi.WifiServerActivity"
            android:label="@string/title_activity_wifi_server"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".learn.wifi.WifiClientActivity"/>
        <activity android:name=".chartroom.ui.LoginActivity"/>
        <activity
            android:name=".chartroom.ui.MultiChartRoom"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".chartroom.ui.SingleChartRoom"/>
        <activity android:name=".zhujie.AnnotationActivity"/>
        <activity android:name=".canvas.CanvasMenu"/>
        <activity android:name=".canvas.canvas1.Canvas1Activity"/>
        <activity android:name=".canvas.animedemo.AnimActivity"/>
        <activity android:name=".webview.WebViewActivity">
        </activity>
        <activity android:name=".GlobalListActivity">
        </activity>
    </application>

</manifest>