<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwl.can">

    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <meta-data
        android:name="xposedmodule"
        android:value="true" />
    <meta-data
        android:name="xposeddescription"
        android:value="模块描述" />
    <meta-data
        android:name="xposedminversion"
        android:value="54" />

    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sk7Loe8vSBx6YIdD3KljqcNOgeMM7iBH" >
        </meta-data>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>
        <activity
            android:name=".wifi.ui.WiFiActivity"
            android:label="@string/title_activity_wi_fi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learn.Learn"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".learn.wifi.WifiServerActivity"
            android:label="@string/title_activity_wifi_server"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".learn.wifi.WifiClientActivity" />
        <activity android:name=".chartroom.ui.LoginActivity" />
        <activity
            android:name=".chartroom.ui.MultiChartRoom"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".chartroom.ui.SingleChartRoom" />
        <activity android:name=".zhujie.AnnotationActivity" />
        <activity android:name=".canvas.CanvasMenu" />
        <activity android:name=".canvas.canvas1.Canvas1Activity" />
        <activity android:name=".canvas.animedemo.AnimActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".GlobalListActivity" />
        <activity android:name=".pulltorefreshview.PullToRefreshViewActivity" />
        <activity android:name=".location.ui.LocationActiviey"></activity>
    </application>

</manifest>